$system-red-400: var(--system-red-400);
$system-red-300: var(--system-red-300);
$system-red-200: var(--system-red-200);
$system-red-100: var(--system-red-100);

$system-green-400: var(--system-green-400);
$system-green-300: var(--system-green-300);
$system-green-200: var(--system-green-200);
$system-green-100: var(--system-green-100);

$system-blue-400: var(--system-blue-400);
$system-blue-300: var(--system-blue-300);
$system-blue-200: var(--system-blue-200);
$system-blue-100: var(--system-blue-100);

$system-orange-400: var(--system-orange-400);
$system-orange-300: var(--system-orange-300);
$system-orange-200: var(--system-orange-200);
$system-orange-100: var(--system-orange-100);

$accent: var(--accent);
$accent-secondary: var(--accent-secondary);

$box-border: var(--box-border);

$primary-text: var(--primary-text);
$secondary-text: var(--secondary-text);
$tertiary-text: var(--tertiary-text);

$primary-background: var(--primary-background);
$secondary-background: var(--secondary-background);
$tertiary-background: var(--tertiary-background);
