{
  "trailingComma": "none",
  "tabWidth": 4,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "singleAttributePerLine": false,
  "printWidth": 120
}